.container{
    background-color: lightgoldenrodyellow;
    margin: 15px 0;
    border: orange;
    border-radius: 12px;
}

*{
    background-color: #FDFBF7;
    color:#1A303A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container{
    flex-direction: row;
    text-align: center;
    margin: 15px 100px;
}

.button{
    border-radius: 10px;
    height: 40px;

    margin: 10px 10px;
    background-color: #FDFBF7;
    color: #008094;
}

.pesquisa{
    background-color: #FDFBF7;
    color: #008094;
}

.cadastro{
    background-color: #FDFBF7;
    color: #008094;
    border-color: #F29E4C;
}
